* {
    box-sizing: border-box;
}

main {
  display: flex;
}

body {
    background: white;
    background-image: url(tree\ 6.png);
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
    position: relative;
    transition: background 2s;
    height: 100vh;
    margin: 0;
    overflow:hidden;
}

body.activated {
    background: rgb(171, 146, 157);
    background-image: url(tree7.png);
    background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  src: url("tree\ 7.png");
}

.menubtn {
  position: absolute;
  top:30px;
  left:30px;
}
.player {
  opacity: 5%;
  transition: opacity 2s;
}

.player:hover {
  opacity: 100%
}

.tree {
  display: flex;
  position:relative;
  width: 100vw;
  top:-10px;
  left:-10px;
  opacity:0;
  transition: opacity 2s;
}

/* .tree:hover {
  opacity:100%;
} */

.tree1 {
  position: relative;
  top: 0;
  left: 0;
}
.tree2 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tree2.png)
}
.tree3 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tree3.png)
}
.tree4 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tree4.png)
}
.tree5 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tree5.png)
}
.tree6 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tree6.png)
}
.tree7 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(tree7.png)
}


.box {  
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.327);
  font-size: 20px;
  position: fixed;
  top:0;
  right:-30vw;
  width:30vw;
  height:100vh;
  border-left: none;
  transition: right .5s;
}

.box.activated {
  right:0vw;
}

button {
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
    background: white;
    transition: background .2s;
}

button:hover {
    background: pink;
}

button:active {
    background: lightgreen;
}

.blossom {
    position: fixed;
    bottom:30px;
    left:30px;
    background: none;
    width: 10vw;
    border: none;
    transition: all 1s;
}

.blossom.activated {
    transform: rotate(720deg);
}

.blossom:hover {
    width: 15vw;
    
}
  
  .ground {
    position: fixed;
    bottom:0;
    left:0;
    width:100vw;
    height:20vh;
    background:rgb(109, 139, 156);
    transition:background 2s;
  }

  .thoughts {
    background:rgb(255, 255, 255);
    /* border: 2px solid black; */
    width: 100%;
    height: 400px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: column;
    opacity: 90%;
  }
  
  form {
    font-size: 30px;
    padding: 10px;
    color: rgb(254, 201, 250);
    font-style: italic;
  
  }
 
  input[type=submit] {
    cursor: pointer;
    background-color: #c9f7ff;
    border-radius: 8px;
    height: 30px;
    width: 100px;
    margin-top: 20px;
    border: 1px solid #c3c3c3;
  }

  input[type=submit]:hover {
    background-color: rgb(253, 197, 255);
  } 
  input[type=text]:focus {
    background-color: lightblue;
    transition: background 1s;
  }
  
    
  input[type=text]:hover {
    background-color: lightblue;
    transition: background 1s;
  
  }



  input[type=text] {
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #c3c3c3;
  height: 100px;
  width: 300px;
  background-color: rgb(255, 221, 135);
}


  @media screen and (max-width: 1500px) {
  
    body {
      background: lightblue;
      background-image: url(tree6.png);
    }
    .ground {
      background:rgb(179, 155, 85);
    }
    .tree6.tree7{
      background-image:none;
    }
  }
    
  @media screen and (max-width: 1300px) {
  
    body {
      background: lightblue;
      background-image: url(tree5.png);
    }
    .ground {
      background:rgb(179, 155, 85);
    }
    .tree5.tree6.tree7{
      background-image:none;
    } 

  }
  @media screen and (max-width: 1100px) {
    /* FALL */
  
    body {
      background: rgb(48, 163, 189);
      background-image: url(tree4.png);
    }
  
    .ground {
      background:rgb(179, 155, 85);
    }

    .tree4{
      background-image: none;
    }
    .tree5{
      background-image: none;
    }
    .tree6{
      background-image: none;
    }
    .tree7{
      background-image: none;
    }
  }
  
  @media screen and (max-width: 900px) {
    /* SUMMER */
  
    body {
      background: rgb(254, 249, 190);
      background-image: url(tree3.png);
    }
  
    .ground {
      background:rgb(116, 130, 77);
    }
    .tree3{
      background-image: none;
    }
    .tree4{
      background-image: none;
    }
    .tree5{
      background-image: none;
    }
    .tree6{
      background-image: none;
    }
    .tree7{
      background-image: none;
    }
  }
  
  @media screen and (max-width: 700px) {
    /* SPRING */
  
    body {
      background: rgb(170, 203, 140);
      background-image: url(tree2.png);
    }
  
    .ground {
      background:rgb(176, 181, 116);
    }
    .tree2{
      background-image: none;
    }
    .tree3{
      background-image: none;
    }
    .tree4{
      background-image: none;
    }
    .tree5{
      background-image: none;
    }
    .tree6{
      background-image: none;
    }
    .tree7{
      background-image: none;
    }
  }

  @media screen and (max-width: 500px) {
    /* SPRING */
  
    body {
      background: rgb(170, 203, 140);
      background-image: url(tree1.png);
    }
  
    .ground {
      background:rgb(176, 181, 116);
    }
    .tree2{
      background-image: none;
    }
    .tree3{
      background-image: none;
    }
    .tree4{
      background-image: none;
    }
    .tree5{
      background-image: none;
    }
    .tree6{
      background-image: none;
    }
    .tree7{
      background-image: none;
    }
  }